.container-2{
    max-width: 80%;
    margin: 0 auto;
}

.box-content{
    margin-top: 100px;
    background-color: black;
    padding: 100px 0;
}

.game-name{
    height: 150px;
}

.letter{
    background-color: white
}

.t, .r, .i, .s{
    height: 100%;
    padding: 0 10px;
   
}

.t > .col-12, .r > .col-12{
    height: 15%;
    background-color: white
}

.t > .col-2{
    height: 85%;
    background-color: white
}

.r > .row{
    height: 30%;
}

.r .row .line-r{
    margin-right: 0;
}

.r .row .col-2{
    height: 100%;
    margin-left: 0;
}

#r-bottom{
    height: 5%;
}
.i .dot{
    height: 15%;
    margin-bottom: 10%;
}

.i .line{
    height: 75%;
}

.s > .col-12{
    height: 15%;
}

.s > .col-2{
    height: 30%;
}

.s .line{
    height: 10%;
}
.top{
    margin-top: 100px;
}

.top, .center, .bottom{
    height: 200px;
}

.square{
    height: 100%;
    display: flex;
}

.square-1, .square-2, .square-4, .square-5{
    border-right: solid white 1px;
    border-bottom: solid white 1px;
}

.square-3, .square-6{
    border-bottom: solid white 1px;
}
.square-7, .square-8{
    border-right: solid white 1px;
}

.ex, .round{
    color: white;
    line-height: 100%;
    font-size: 150px;
}
